<div>
  <h1 class="font-bold text-4xl">Admin#index</h1>
  <p>Find me in app/views/admin/index.html.erb</p>
  <table>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Ordered</th>
    </tr>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%=product.price%></td>
      <td>
        <!--#Here should be the amount of orders, and the quantity, in which these products have been a part of -->
      </td>
    </tr>
    <%end%>
  </table>
 


  <div>
    <table>
      <tr>
        <th>User</hd>
        <th>Order Count</th>
      </tr>
      <% @customers.each do |user| %>
      <tr>
        <td>
          <h4><strong>User:</strong>
            <%= user.email %>
          </h4>
        </td>
        <td>
          <h4><strong>Orders:</strong>
            <%= user.orders.count%>
          </h4>
        </td>
      </tr>
      <%end%>
    </table>
   
    
  </div>
</div>
