<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="w-screen bg-gradient-to-tr from-green-100 to-sky-200 fixed flex r-0 z-10 mb-1">
  <div class="w-screen max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">

        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="text-orange-300 hover:bg-orange-500 hover:text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>

            <a href="/products" class="text-orange-400 hover:bg-orange-400 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Plants</a>

            <a href="/about" class="text-orange-500 hover:bg-orange-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>

            <a href="/contact" class="text-orange-600 hover:bg-orange-200 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Contact</a>
          </div>
        </div>
      </div>

      <div data-controller="menu" class="absolute inset-y-0 right-0 flex  items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">


        <!-- Profile dropdown -->
        <div data-controller="menu" class="ml-3 relative">
          <div>
            <button data-action="click->menu#toggle" type="button" class="bg-green-200 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-100 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <% if !current_user %>
              <img class="h-8 w-8 rounded-full" src="/assets/images/plants/closed.jpeg" alt="">
              <% else %>
              <img class="h-8 w-8 rounded-full" src="/assets/images/plants/sunflower.jpg" alt="">
              <%end%>
            </button>
          </div>

          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <% if current_user %>
          <div data-menu-target="toggleable" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-2 ring-green ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <!-- Active: "bg-orang-100", Not Active: "" -->
            <a href="/profile" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "block px-4 py-2 text-sm text-gray-700",  role: "menuitem", tabindex: "-1", id:" user-menu-item-1"%>
          </div>
          <% else %>
          <div data-menu-target="toggleable" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none " role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <%= link_to 'Login', new_user_session_path, method: :get,        class: "block px-4 py-2 text-sm text-gray-700", role:"menuitem", tabindex:"-1", id:"user-menu-item-1" %>
            <%= link_to 'Signup', new_user_registration_path, method: :get, class:"block px-4 py-2 text-sm text-gray-700", role:"menuitem", tabindex:"-1", id:"user-menu-item-1" %>
          </div>
          <%end%>
        </div>
        <button data-action="click->menu#toggle" type="button" class="bg-green-100 m-8 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-100 focus:ring-white">
          <span class="sr-only">View Cart</span>
          <!-- Heroicon name: outline/bell -->
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="orange" class="bi bi-cart" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/> </svg>
        </button>

        <div data-menu-target="toggleable" class="dropdown hidden origin-top-right absolute overflow-scroll r-0 opacity-90 top-12 mt-5 w-64 flex justify-center rounded-md shadow-lg py-1 bg-white ring-2 ring-green ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
          <!-- Active: "bg-green-100 ", Not Active: "" -->
            <%= render 'carts/cart' %>

        </div>

      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="/" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Home</a>

      <a href="/products" class="text-gray-300 hover:bg-pu-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Plants</a>

      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">About</a>

      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Contact</a>
    </div>
  </div>
</nav>
