<div class="w-full mt-4 flex justify-center">
  <div class="h-96">
    <div class="flex flex-row h-full">
      <div class="mr-64 w-96" id="order_items">
        <%if !@order.order_items.empty? %>

        <strong><h1>Order Information</h1></strong>

        <div class="h-80 border-8 border-sky-200 overflow-scroll">
          <% @order.order_items.each do |item|%>
          <div class="border-8 border-green-100 h-fit p-3 bg-zinc-50">
              <%= render "order_items/order_item" , order_item: item %>
          </div>
          
          <%end%>
        </div>

        <br>
        <strong id="order_total">
          Total Price: <%=@current_cart.sub_total%>
        </strong>
      </div>

      <br>

      <div class="w-64">
        <strong><h1>Shipping Information</h1></strong>
        <br>
        <%= render 'orders/checkout_form', :object => {:order => @order, :user => @user}%>
      </div>
      <%else%>

      <%end%>

    </div>
  </div>
</div>
