<h1>CONFRIMATION OF YOUR ORDER</h1>
<h2>Your Order</h2>
<% @order.order_items.each do |item| %>
<%= item.name %>
<%end%>
<h2>Your Shipping Info</h2>
<%= @order.name%>
<%= @order.email %>
<%= @order.shipping_address %>
<% if !!@order.payment_method%>
<p>Payment Confirmed</p>
<%end%>
