<div class="m-4 w-full flex flex-row justify-center">
  <div class="m-8">
    <strong><h1>Pending Order </h1></strong>
    <div class="p-8 justify-center">
    <%= render "checkout" %>
    </div>
  </div>
</div>
