
<div data-controller="order" class="absolute z-999  p-2 flex flex-col">
  <div class=" relative overflow-scroll">
    <h1>Your Cart</h1>
    <div>

  <ul id="cart">
    <%=render @current_cart.line_items%>
  </ul>

  </div>
  <strong>
    <span id="cart_total">
        Your Total: <%=@current_cart.sub_total%>
    </span>
  </strong>
      <%= link_to "Your Cart", cart_path(@current_cart.id), class: "block top-10 px-4 py-2 text-sm text-gray-700",  role: "menuitem", tabindex: "-1", id:" user-menu-item-1"%>
  </div>



  </div>
