<%= form_for @products do |f| %>
  <%= f.select(:watering, options_for_select([["low", "low"], ["med", "med"], ["high", "high"]])%>
  <%= f.submit :Search, class: 'bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-2 border-b-2 border-blue-700 hover:border-blue-500 rounded' %>
  <a href="/products" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-2 border-b-2 border-blue-700 hover:border-blue-500 rounded">Clear filters</a>
<% end %>
