<li id="<%= "#{dom_id(line_item)}" %>">
  <%= turbo_frame_tag "cart_items" do %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= line_item.product.name %>

  </p>
    <p>
    <%= line_item.quantity %>
</p>

<%end%>
</li>
